@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background-color: rgba(249, 249, 252, 1);

}

.nurvus {
  font-family: 'Inter', sans-serif;
}
