// Button.jsx SCSS
@import "../../styles/variables.scss";
@import "../../styles/tokens.scss";

.#{$cls-prefix}.button {
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  // Type
  &[data-type="primary"] {
    background-color: $--primary--500;
    color: $--pure--white;

    &:hover {
      background-color: $--primary--600;
    }

    &:active {
      background-color: $--primary--700;
    }

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;

      // Disable event styles
      &:hover,
      &:active {
        background: $--primary--500;
      }
    }
  }

  &[data-type="secondary"] {
    background-color: $--base-opacity--8;
    color: $--base--1000;

    &:hover {
      background-color: $--base-opacity--24;
    }

    &:active {
      background-color: $--base-opacity--40;
    }

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;

      // Disable event styles
      &:hover,
      &:active {
        background: $--base-opacity--8;
      }
    }
  }

  // Sizes
  &[data-size="extra-large"] {
    height: 56px;
    border-radius: 12px;
    padding: 0 16px 0 16px;
    font-size: $--14--medium;
    font-weight: 500;
    line-height: 19.6px;
  }

  &[data-size="large"] {
    height: 48px;
    border-radius: 12px;
    padding: 0 16px 0 16px;
    font-size: $--14--medium;
    font-weight: 500;
    line-height: 19.6px;
  }

  &[data-size="medium"] {
    height: 40px;
    border-radius: 12px;
    padding: 0 14px 0 14px;
    font-size: $--14--medium;
    font-weight: 500;
    line-height: 19.6px;
  }

  &[data-size="small"] {
    height: 32px;
    border-radius: 10px;
    padding: 0 12px 0 12px;
    font-size: $--14--medium;
    font-weight: 500;
    line-height: 19.6px;
  }

  &[data-size="mini"] {
    height: 24px;
    border-radius: 8px;
    padding: 0 10px 0 10px;
    font-size: $--12--medium;
    font-weight: 500;
    line-height: 16.8x;
  }
}
