@import "../../styles/variables.scss";

.#{$cls-prefix}.button {
  color: $purple-1;
  background: $green-1;
  border: none;
  padding: 4px 8px;
  border-radius: $border-radius;
  height: 30px;
  cursor: pointer;

  &:hover {
    background: $green-2;
  }

  &:active {
    background: $green-3;
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;

    // Disable event styles
    &:hover,
    &:active {
      background: $green-1;
    }
  }
}