// variables.scss

// Class Prefix
$cls-prefix: nurvus;

// Sizes
$border-radius: 4px;

$spacing-10: 10px;
$spacing-40: 40px;
$spacing-medium: 20px;
$spacing-extra-medium: 30px;

// Colors
$green-1: #4db391;
$green-2: #3d8f74;
$green-3: #2e6b57;

$purple-1: #2e2442;

$white: #ffffff;

$modal-z-index: 2000;