// Styles for Progress.jsx
@import "../../styles/variables.scss";
@import "../../styles/tokens.scss";

.#{$cls-prefix}.progress {
  background: $--orange-opacity--8;

  &,
  > .bar {
    border-radius: 12px;
  }

  > .bar {
    height: 100%;
  }

  // Size
  &[data-size="small"] {
    height: 4px;
  }

  &[data-size="medium"] {
    height: 6px;
  }

  &[data-size="large"] {
    height: 8px;
  }

  // Size
  &[data-status="active"] {
    > .bar {
      background-color: $--primary--500;
    }
  }

  &[data-status="success"] {
    > .bar {
      background-color: $--green--500;
    }
  }

  &[data-status="warning"] {
    > .bar {
      background-color: $--yellow--200;
    }
  }

  &[data-status="critical"] {
    > .bar {
      background-color: $--red--500;
    }
  }
}
