@import "../../styles/variables.scss";
@import "../../styles/tokens.scss";

.#{$cls-prefix}.title {
  // color: $white;
  // CSS reset
  margin: 0;

  // TYPE
  &[data-type="primary"] {
    color: $--pure--black;
  }

  &[data-type="secondary"] {
    color: $--base--600;
  }

  @at-root {
    h1#{&} {
      font-size: 24px;
    }

    h2#{&} {
      font-size: 20px;
    }

    h3#{&} {
      font-size: 18px;
    }

    h4#{&} {
      font-size: 16px;
    }

    h5#{&} {
      font-size: 14px;
      font-weight: 500;
    }

    h6#{&} {
      font-size: 12px;
    }
  }
}