@import "../../styles/variables.scss";

.#{$cls-prefix}.layout {
  &[data-display="block"] {
    display: block;

    &[data-item-spacing="10"] {
      >  * + * {
        margin-top: $spacing-10;
      }
    }

    &[data-item-spacing="20"] {
      >  * + * {
        margin-top: $spacing-medium;
      }
    }

    &[data-item-spacing="30"] {
      >  * + * {
        margin-top: $spacing-extra-medium;
      }
    }

    &[data-item-spacing="40"] {
      >  * + * {
        margin-top: $spacing-40;
      }
    }
  }

  &[data-display="flex"] {
    display: flex;

    &[data-item-spacing="20"] {
      >  * + * {
        margin-left: $spacing-medium;
      }
    }
  }

  &[data-align-items="center"] {
    align-items: center;
  }

  &[data-justify-content="space-between"] {
    justify-content: space-between;
  }

  &[data-item-display="block"] {
    > * {
      display: block;
    }
  }


}